<!DOCTYPE HTML>
<head>
  <title>
    <%=posts.title %>
  </title>
</head>
<link rel="stylesheet">
<body>
  <ul>
      <li>
        <%= post.title %>
        <%= post.author %>
        <%= post.date %>
        <%= post.text %>
      </li>
  </ul>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</html>>
